/* =================================
  Base styles
==================================== */

/* --- Element styles --- */
body {
  color: black;
  margin: 0;
  font-size: 1em; /* 16px */
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem; /* 40px/16px  */
  line-height: 1.25;
}

h2 {
  font-size: 1.8755em; /* 30px/16px  */
  line-height: 1.25;
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

address {
  font-style: normal;
}

/* =================================
Navigation
==================================== */

.name {
	font-size: 1.35em;
	margin: 0;
  color: white;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
}
.main-nav a,
.footer a,
.footer p {
	font-size: .95em;
	color: white;
	text-transform: uppercase;
  font-weight: bold;
  position: sticky;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  background-color: #365E7B;
}


/* =================================
Content
==================================== */

/* --- Descendent selectors --- */
img {
  width: 300px;
  margin: auto;
  display: block;
}

.content-container img {
  width: 100%;
  height: 100%;
}

.content-container div {
  margin: auto;
}

.footer p {
  margin: auto;
}

/* --- Class selectors --- */
.footer {
  background-color: #365E7B;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  float: left;
}

.footer-column {
  display: inline-block;
  width: 50%;
  float: left;
}

.content-container {
  background-color: #d5f5ec;
}

.text {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.container {
  width: 85%;
  max-width: 1150px;
  margin: 0 auto;
}

.main-nav {
  float: right;
}

.name a,
.main-nav li {
  float: left;
  padding: 10px 0px;
}

.main-nav li {
  margin-left: 12px;
}

.main-container {
  height:100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin: auto;
}

img {
  margin-left: 50px;
}

.text {
  margin-right: 50px;
  text-align: left;
}

.about-text {
  grid-column: 2/-1;
}

.projects-text {
  grid-column: 2/-1;
}

.reading-text {
   grid-column: 2/-1;
}

.footer {
  grid-column: 1/-1;
}

@media (min-width: 1025px) {

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav li {
    padding-left: 48px;
  }

}
