/*Element styles*/

/*Descendent selectors*/
.content-container img {
  width: 100%;
  height: 100%;
}

.content-container div {
  margin: auto;
}

.footer p {
  margin: auto;
}

/*Class selectors*/
.footer {
  background-color: #d5fad5;
}

.content-container {
  background-color: #e1f7e1;
}
