/*Element styles*/
body {
  background-color: #f3fdf3;
}

/*Descendent selectors*/
.content-container img {
  width: 350px;
  height: 250px;
}

.content-container div {
  margin: auto;
}

.footer p {
  margin: auto;
}

/*Class selectors*/
.footer {
  background-color: #d5fad5;
}
